/* global.css */

@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, #ff0000, #ff9900, #ffff00, #00ff00, #00ffff, #0000ff, #9900ff, #ff00ff);
  background-size: 300% 300%;
  animation: rainbow 10s ease infinite;
}